<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="estilos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar w-full  h-[10vh] px-[30px] flex items-center justify-between">
        <div class="text-3xl font-bold">REPARAMOS TECNOLOGIA</div>
        <%if (user && user.name) { %>
        <div style="background-image: url('<%= user.pfp %>');"
            class="w-[50px] h-[50px] bg-cover rounded-full"></div>
        <span class="text-xl font-bold"><%= user.name %></span>
        <%} %>
        <div class="flex w-[50%] items-center justify-around navbar relative">
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="#footer">Contacto</a></div>
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="/productos">Productos Y Servicios</a></div>
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="/perfil">Mi perfil</a></div>
            <% if (user) { %>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="bg-black text-white rounded px-[10px] py-[5px]">SALIR</button>
                </form>
            <% } else { %>
                <a href="/login">
                    <div class="bg-black text-white rounded px-[10px] py-[5px]">INICIAR</div>
                </a>
                <a href="/signin">
                    <div class="bg-black text-white rounded px-[10px] py-[5px]">REGISTRARSE</div>
                </a>
            <% } %>
        </div>
    </div>


    <script src="scripts/navbar.js"></script>


    <div class="carusel h-[90vh] overflow-hidden relative">
        <div>
            <div class="slide brightness-50 z-[-1] bg-[url('./img/carusel_2.jpg')] w-full h-[90vh] absolute bg-center bg-cover bg-no-repeat duration-1000"></div>
            <div class="slide brightness-50 z-[-1] bg-[url('./img/carusel_2.jpg')] w-full h-[90vh] absolute bg-center bg-cover bg-no-repeat duration-1000"></div>
        </div>
        <div class="w-[250px] absolute z-[1] w-screen text-white text-[7vw] font-[500] top-[40%] text-center">REPARAMOS TECNOLOGIA </div>
        <div class="w-[250px] absolute z-[1] w-screen text-white text-[7vw] font-bold bottom-[0] text-center animado-flecha"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
        
    </div>
    
    <style>
        .animado-flecha{
            animation: flecha 1s alternate infinite;
        }
        @keyframes flecha {
        
            to{
                transform: translateY(10px);
            }
        }
    </style>
    
    
    <script src="scripts/slideImg.js">
    </script>

    <div class="relative s_scroll seccion_1 h-screen w-full flex items-center justify-between flex-col bg-gray-300 font-bold text-[5vw] text-left p-[100px]">
        <div>CONOCE MÁS SOBRE NUESTROS SERVICIOS</div>
        <a href="./productos.html">
            <div class="z-1 flex items-center justify-around bg-white rounded-xl text-[2.5vw] px-[100px] py-[20px] gap-x-3 shadow-2xl">
                <div><i class="fa fa-mouse-pointer" aria-hidden="true"></i></div>
                <div class="w-[80%]">haz clic acá para obtener más información</div>
            </div>
        </a>

    </div>
    <div class="seccion_2 h-screen w-full flex items-center justify-center bg-zinc-900 relative font-bold flex-col text-white p-[100px] gap-[50px] text-left">
        <h1 class="text-[5vw] text-left">¿QUIÉN SOY?</h1>
        <h5>Soy técnico en mantenimiento y reparación de computadores(diploma),a lo largo de mi trayectoria y de mi carrera, he desarrollado más de 30 años de experiencia de reparación de los ordenadores, tanto portátiles, demás equipos del hogar y  de las empresas, para ello los equipos se destapan, se diagnostica, se reparan sus piezas y/o se cambian, se hace con mucha agilidad y destreza debido a mi larga experiencia. Dentro de mi preparación no es solo destapar los equipos sino también realizar las correcciones de software como formateo, depuración de errores, agilizar velocidad en su funcionamiento y además conozco muy bien los sistemas eléctricos del hogar (como tomas, swiches) , dando así pronta reparación y no dependiendo de otro personal, que haga el trabajo después, evitando ralentizar la solución al cliente.</h2>
    </div>
</body>
<footer id="footer">
    <div class="bg-zinc-400 flex items-center justify-evenly w-[100%] absolute text-white py-9 gap-x-4 ">

        <div class="flex items-center justify-between h-[100%] flex-col relative">
            <div class="text-3xl">Contactanos</div>
            <label for="" class="text-xl">
                reparamos@hotmail.com
            </label>
            <div class="text-6xl">
                <a href="https://www.facebook.com/reparosutecnologia">
                    <i class="fa fa-whatsapp text-[green]" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/reparosutecnologia">
            <i class="fa fa-facebook-official text-[blue]" aria-hidden="true"></i>
                </a>
            <i class="fa fa-twitter text-[#00ACEE]" aria-hidden="true"></i>
            <i class="fa fa-instagram text-[red]" aria-hidden="true"></i>
        </div>
    </div>
    <div class="w-[70%] flex justify-evenly">
            <a href="https://pascualbravo.edu.co/">
            <img src="https://www.redttu.edu.co/es/wp-content/uploads/2015/12/14.-PASCUAL-BRAVO.png" alt="" class="w-[50%]">
            </a>
        </div>
</div>
</footer>
</html>