<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="navbar w-full  h-[10vh] px-[30px] flex items-center justify-between">
        <div class="text-3xl font-bold">REPARAMOS TECNOLOGIA</div>
        <div class="flex w-[50%] items-center justify-around navbar relative">
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="/">Inicio</a></div>
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="productos.html">Productos Y Servicios</a></div>
            <div class=" hover:bg-gray-300 transition rounded px-[10px] py-[5px]"><a href="./miperfil.html">Mi perfil</a></div>
            <a href="/login">
                <div class="bg-black text-white rounded px-[10px] py-[5px]">INICIAR</div>
            </a>
        </div>
    </div>

    <div class="h-[90vh] w-screen flex items-center justify-center">
        <form class="flex items-between justify-center flex-col gap-8" action="/cuser" method="post">
            <label for="" class="text-[5vw]">REGISTRARSE</label>
            <input type="text" name="name" id="" placeholder="Nombre" class="h-[40px] rounded border p-2 outline-none hover:ring" required>
            <input type="email" name="email" id="" placeholder="Correo" class="h-[40px] rounded border p-2 outline-none hover:ring" required>
            <input type="password" name="password" id="" placeholder="Contraseña" class="h-[40px] rounded border p-2 outline-none hover:ring" required>
            <input type="submit" value="Registrarse" class="bg-black rounded p-2 relative text-2xl text-[white] hover:text-2xl hover:ring cursor-pointer">
        </form>
    </div>


</body>
</html>